*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h3,h4,h5,h6{
    margin-top: 12px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    text-decoration-color: black;
}
.btn{
    color: #fff;
    background-color: #03a5fc;
    padding: 8px 15px;
    margin-top: 8px;
    border: none;
    border-radius: 15px;
    /* font-size: 15px; */
}
.btn:hover{
    color: #fff;
    background-color: #03a5fc;
}
.title{
    padding:20px;
    margin-top:20px;
    text-align:center;
}
.title h3{
    font-weight: 800;
    font-size: 48px;
    color: #444;
    margin-bottom: 20px;
}
.about-text h6{
    font-size: 18px;
    margin-bottom: 14px;
    font-weight: 600;
}
.about-text h2{
    font-size: 36px;
    margin-bottom: 14px;
}
.about-text h2 span{
    font-size: 40px;
    font-weight: 700;
}
.about-text h5,.about-text h4{
    font-size: 18px;
    margin-bottom: 14px;
}
.about-text p{
    font-size: 15px;
    line-height: 30px;
}
.about-text-2 p{
    font-size: 18px;
}
.about-text-2 p span{
    font-weight: bold;
}
.ico{
    text-align: center;
}
.ico h4{
    font-size: 20px;
    margin-top: 15px;
}
.skill-det{
    padding: 10px 0px;
}
.skill-yr span{
    color: #03a5fc;
}
.skill-des h4{
    font-size: 20px;
    font-weight: bold;
}
.skill-des h4 span{
    font-size: 15px;
    font-weight: 300;
}
.skill-dur span{
    font-size: 18px;
}
.service-ico{
    position: relative;
}
/* .service-ico::after{
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background-color: black;
    top: 0;
    left: 0;
    margin: auto;
} */
.ser-bot p{
    line-height: 30px;
}
.ser-bot h4{
    margin-top: 12px;
}
@media(min-width:992px){
    .pro-top{
        margin-top: -20px;
    }
}
.people-ico i{
    width: 60px;
    height: 60px;
    background-color: #fff;
    display: inline-flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #03a5fc;
    box-shadow: 2px 2px 5px #444;
}
.peo-icons i{
    color: #03a5fc;
}
.peo-det h6{
    font-size: 18px;
}
.peo-det-1 p{
    line-height: 24px;
    letter-spacing: 2px;
    margin: 40px;
}
.people-img img{
    height: 120px;
    width: 120px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #444;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-img img{
    border-radius: 20px;
}
.email h5{
    padding: 6px 18px;
    background-color: #f2a0e5;
    border-radius: 12px;
}
.email h5 span{
    margin-left: 16px;
}
.phone h5{
    padding: 6px 18px;
    background-color: #75bdd9;
    border-radius: 12px;
}
.uname,u-email,.csub,.c-message{
    padding: 13px;
}
input,textarea{
    border: none;
    padding: 10px 14px;
    border-bottom: #444 1px solid;
    max-width: 100%;
}


































