*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    text-decoration-color: black;
}
button{
    cursor: pointer;
}
.head-btn{
    color: #fff;
    padding: 6px 15px;
    background-color: #03a5fc;
    border: none;
    border-radius: 10px;
}
.banner-name h5 span{
    letter-spacing: 3px;
}
.banner-name h5 img{
    height: 20px;
}
.banner-name h2{
    font-size: 100px
}
.banner-name h6 span{
    border-right: 2px solid #03a5fc;
    padding: 0px 5px;
}
.img-det{
    display: none;
    visibility: hidden;
}
 @media(min-width:1200px){
    .img-det{
        display: block;
        visibility: visible;
    }
    .post{
        position:relative ;
    }
    .img-det{
        position: absolute;
        bottom: 12%;
        /* left: 0; */
        /* top: 0; */
        right: 28%;
        text-align-last: center;
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
        padding: 15px;
        border-radius: 20px;
        opacity: 88%;
    }
    .banner-name{
        text-align: start;
        position: absolute;
        left: 220px;
        bottom: 150px;
        z-index: 1;
    }

}

.img-det i{
    padding: 10px 2px;
    color: #03a5fc;
}
.img-det p{
    color: #444;
    padding: 6px 0px;
}
.img-det h5{
    font-weight: bold;
    color: #03a5fc;
} 
#color-back{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
#circle{
    position: relative;
}
#circle::after{
    position: absolute;
    content: "";
    background-color: #fff;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    z-index: -1;
    /* top: 0; */
    right: 0;
    left: 0;
    /* bottom: 0; */
}
/* .d-flex{
    display: flex;
    justify-content: space-between;
}
.container{
    margin:auto;
    width: 90%;
}
button{
    border: none;
    background: transparent;
    cursor: pointer;
}
.header{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    height: 100vh;
    z-index: -2;
}
.header-container{
    padding-bottom: 40px;
}
.header-top{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.loga a{
    padding: 10px 0px;
}
.nav ul{
    display: flex;
    justify-content: space-between;
}
.nav ul li{
    margin: 6px 25px 0px 0px;
    padding: 5px 14px;
    
}
.nav ul li a{
    color: #333;
}
.nav-right button{
    margin-top: 6px;
    padding: 8px 14px;
    background-color: #03a5fc;
    color: #fff;
    border-radius: 12px;
}
.banner-image{
    text-align: center;
    position: relative;
    z-index: 44;
}
.banner-image .user{
    height: 543px;
}
.header::after{
    content: "";
    position: absolute;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    top: 25%;
    left: 33%;
    background-color: #fff;
    z-index: 2;
}
.banner{
    position: absolute;
    top: 150px;
    left: 160px;
    text-align: initial;
}
.banner h2{
    font-size: 18px;
}
.banner h2 img{
    height: 18px;
}
.banner h2 span{
    font-size: 120px;
    letter-spacing: 3px;
    font-weight: bold;
}

.ban-right i{
    font-size: 15px;
    padding: 10px 2px;
    color: #03a5fc;
}
.ban-right p{
    font-size: 20px;
    color: #444;
    padding: 6px 0px;
}
.ban-right h5{
    font-size: 20px;
    font-weight: bold;
    color: #03a5fc;
    padding-top: 12px;
} */












