*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    text-decoration-color: #323258;
}
.btn{
    color: #fff;
    background-color: #1877f2;
    padding: 8px 15px;
    margin-top: 8px;
    border: 1px solid #1877f2;
    border-radius: 25px;
    /* font-size: 15px; */
}
.btn:hover{
    color: #1877f2;
    background-color: #fff;
    transition: 1s;
}
.top-icon i{
    font-size: 30px;
    margin-top: 12px;
    display: inline-block;
}
.button{
    display: none;
}

.nav-item:hover{
    color:#1877f2;
    transition: 0.2s;
}
@media(min-width:1200px){
    .nav-item {
        margin-left:15px;
    }
}
.logo{
    margin-top: 10px;
}
.img-det{
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
}
.banner{
    background-image: linear-gradient(62deg, #e4f6ff 0%, #f3eaff 100%);
    padding-top: 90px;
}
#spa{
    display: none;
}
@media(min-width:992px){
    .top-icon{
        display: none;
    }
    .banner{
        padding-top: 60px;
    }
    .button{
        display: block;
    }
    .img-det{
        display: block;
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 50px;
        text-align: center;
        border-radius:12px ;
        width: 23%;
        padding: 15px;
        background-color: rgba(249, 248, 249, 0.8);
        transform: translateX(-50%);
    }
    .ban{
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .nav-link{
        margin-left: 15px;
    }
    .banner-left{
        padding: 200px 0px 0px 50px;
        z-index: 1;
    }
    .ban-img{
        position: relative;
        z-index: 0;
    }
    .user-img{
        height: 600px;
        left: 50%;
        transform: translateX(-50%);
    }
    #spa{
        height: 400px;
        width: 400px;
        background-color: #fff;
        position: absolute;
        top: 87px;
        left: 0;
        right: 0px;
        border-radius: 50%;
        display: block;
        transform: translateX(-50%);
        z-index: -1;
    }
    .banner-left h2{
        font-size: 100px!important;
        letter-spacing: 6px;
        font-weight: 800;
    }
    
}
.img-det-ico i,.img-det-text h5{
    color: #1877f2;
    font-weight: 700;
}
.banner-left{
    text-align: center;
}
.banner-left h5{
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-left img{
    height: 25px;
}
.banner-left span{
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
}
.banner-left h2{
    font-size: 60px;
    letter-spacing: 6px;
    font-weight: 800;
}
.banner-left h6{
    font-size: 20px;
}
.title{
    margin:20px;
    text-align:center;
}
.title h3{
    font-weight: 700;
    font-size: 28px;
    color: #323258;
    padding: 15px 0px;
}
.about-text{
    padding: 40px 0px 0px 30px;
    margin-top: 20px;
}
.about-text-2,.about-btn{
    padding: 20px 0px 0px 30px;
}
.about-text h6{
    font-size: 18px;
    margin-bottom: 14px;
    font-weight: 600;
}
.about-text h2{
    font-size: 36px;
    margin-bottom: 14px;
}
.about-text h2 span{
    font-size: 40px;
    font-weight: 700;
}
.about-text h5,.about-text h4{
    font-size: 16px;
    margin-bottom: 14px;
}
.about-text p{
    font-size: 14px;
    line-height: 30px;
}
.about-text-2 p{
    font-size: 14px;
}
.about-text-2 p span{
    font-weight: bold;
}
.ico{
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.box-img{
    border-radius: 50%;
    box-shadow:  0px 12px 5px #c5cfe4;
    padding: 10px;
}
@media(min-width:992px){
    .ico{
        align-items: flex-start;
    }
}
.ico h4{
    font-size: 20px;
    margin-top: 12px;
}
.skill-det{
    padding: 20px 0px;
}
.skill-yr{
    width: 30%;
    text-align: center;
}
.skill-des{
    width: 45%;
    text-align: start;
}
.skill-dur{
    width: 25%;
    text-align: center;
}
.skill-yr span{
    font-size: 14px;
    color: #1877f2;
    margin-top: 12px;
}
.skill-des h4{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
.skill-des h4 span{
    font-size: 12px;
    font-weight: 300;
}
.skill-dur span{
    font-size: 15px;
    margin-top: 12px;
}
.service-ico{
    position: relative;
}
.service-ico::after{
    position: absolute;
    content: "";
    background-color: #e7f1fe;
    top: -14px;
    left: -45px;
    margin: auto;
    right: 0;
    width: 50px;
    height: 50px;
    z-index: -1;
    border-radius: 6px;
}
.ser-bot p{
    line-height: 30px;
}
.ser-bot h4{
    margin-top: 12px;
}
@media(min-width:992px){
    .pro-top{
        margin-top: -25px;
    }
}
.peo-pad{
    padding-top: 30px;
}
.project-details{
    padding-top: 20px;
}
.people-ico i{
    width: 60px;
    height: 60px;
    background-color: #fff;
    display: inline-flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #1877f2;
    box-shadow: 2px 2px 5px #c5cfe4;
}
.peo-det{
    margin-top: 50px;
    background-color:#f2f6ff;
    border-radius: 15px;
    padding: 25px 0px;
}
.peo-icons i{
    color: #1877f2;
}
.peo-det h6{
    font-size: 18px;
}
.peo-det-1 p{
    line-height: 24px;
    letter-spacing: 2px;
    margin: 20px 60px;
}
.people-img img{
    height: 120px;
    width: 120px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #c5cfe4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-img img{
    border-radius: 20px;
}
.email h5{
    padding: 8px 10px;
    background-color: #fdf0fe;
    border-radius: 12px;
}
.email h5 span{
    margin-left: 16px;
}
.phone h5 span{
    letter-spacing: 2px;
    margin-left: 16px;
}
.phone h5{
    padding: 8px 10px;
    background-color: #edf4fe;
    border-radius: 12px;
}
.uname,.u-email,.csub,.c-message{
    padding: 13px;
}
input,textarea{
    border: none;
    padding: 10px 14px;
    border-bottom: #c5cfe4 1px solid;
    width: 100%;
}
input:focus,
textarea:focus{
    outline: 1px solid #1877f2;
    border-radius: 8px;
}
.footer-right a i{
    padding: 0px 5px;
    color: #1877f2;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #1877f2;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0px 4px;
}
.footer-right a i:hover{
    background-color: #1877f2;
    color: #fff;
    transition: 1s;
}
.up-arrow{
    left: auto;
    right: 40px;
    bottom: 25px;
    font-size: 40px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #1877f2;
    color: #fff;
}
.up-arrow:hover{
    color: #1877f2;
    background-color: #fff;
    transition: 1s;
}






























